@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-image: url('../media/communitybg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar
{
    text-align: center;
}
.navbar-brand{
    margin-right: 38%;
}
.navbar a
{
    color: grey;
    text-decoration: none !important;
}
.navcommunity{
    font-size: 25px;
    color: #ed2647;
    font-weight: 300;
}

.communityformcontainer{
    margin-top: 25px;
    background-color: #ed26479f;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5px solid #ed2647;
    border-radius: 10px;
    width: 50%;
}

.form-label{
    color: rgb(37, 37, 37);
    font-family: 'Poppins', sans-serif;
}

.form-control{
    border: 2px solid #ed2647;
}

.postbtn{
    background-color: #129aee;
}

@media screen and (max-width: 483px){
    body{
        background-image: none;
    }

    .communityformcontainer{
        width: 80%;
    }

    
}